
.App {
  background-color: #f3f3f3;
  font-family: Consolas, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


h1 {
  color: #3A6F93;
  font-size: 2.5em;
}
h2 {
  color: #1C2833;
  font-size: 2em;
}
/* Add padding to containers */
.container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.inputfield input {
  width: 400px;
  border-radius: 10px;
}

.inputfield {
  width: 400px;
  margin-left: 100px;
  text-align: center;
}

.inputfield button {
  width: 400px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1em;
  background-color: #3A6F93;
}

button {
  width: 400px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1em;
  background-color: #3A6F93;
}

.welcomecard {
  width: 350px;
  height: 350px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 350px;
  background: #f3f3f3;
  border: 5px solid #3A6F93;
  }

  .link {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    background-color: #F39C12;
  }

  .link:hover {
    background-color: #F3BB61;
  }

  .img {
    width: 250px;
  }

  .navbar {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    color: #fff;
    font-weight: bold;
    width: 100%;
    height: 80px;
    background-color: #3A6F93;
    justify-content: center; 
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  }

  .padding80 {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    color: #fff;
    font-weight: bold;
    width: 80%;
    height: 80px;
    background-color: #3A6F93;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
  }

  .navbar button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.8em;
    background-color: #F39C12;
  }

  
  .navbar-items {
    display: block;
  }

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    color: #3A6F93;
    font-size: 2em;
  }

  .welcomecard {
    width: 150px;
    height: 150px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    background: #f3f3f3;
    border: 5px solid #3A6F93;
    }

  .img {
    width: 100px;
  }

  .inputfield input {
    width: 80%;
    border-radius: 10px;
  }
  
  .inputfield {
    width: 90vw;
    text-align: center;
    margin-left: 0px;
  }
  
  .inputfield button {
    width: 80%;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1em;
    background-color: #3A6F93;
  }

  
}

.navbar-items {
  display: flex;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background: #fff;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.15);
  padding: 50px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-menu.open {
  transform: translateX(0);
}

.menu-button {
  display: none;
}

@media (max-width: 768px) {
  .navbar-items {
    display: none;
  }

  .container {
    padding: 0px;
  }

  .menu-button {
    display: block;
  }

  .mobile-menu {
    display: block;
    align-items: center;
    justify-content: center;
  }

  .navbar button {
    border-radius: 5px;
    color: #fff;
    width: 50px;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    padding: auto;
    background-color: #3A6F93;
  }

  .padding80 {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    color: #fff;
    font-weight: bold;
    width: 80%;
    height: 80px;
    background-color: #3A6F93;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
  }

  .navbar button.buttonsidebar {
    border-radius: 5px;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    padding: auto;
    background-color: #3A6F93;
  }

  .navbar button.buttonsidebarback {
    border-radius: 5px;
    color: #fff;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    padding: auto;
    background-color: #3A6F93;
  }
}

